* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.875em;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --red-color: red;
}

body {
  color: var(--red-color);
  height: 1vh;
}

.title {
}

.title span:nth-child(1) {
  color: blue;
}

.title span:nth-child(2) {
  color: darkcyan;
}

.title span:nth-child(3) {
  color: green;
}

.parent {
  width: 50px;
  height: 50px;
}

.parent div,
.parent span {
  width: 20px;
  height: 20px;
}


.parent div:nth-child(1) {
  color: #fff;
  background: green;
}

.parent span:nth-child(2) {
  color: #fff;
  background: yellow;
  display: inline-block;
}
.parent div:nth-child(3) {
  color: #fff;
  background: gray;
}

p {
  margin-top: 50px;
}

p::first-letter {
  color: yellow;
}

p::first-line {
  color: green;
  background: red;
}